.card {
  max-width: 500px;
  &__title {
    font-family: $font-family-base;
    color: $color-text-black;
  }
  &__button {
    width: 100%;
    color: white;
    border-width: 0px 30px 0px 0px;
    border-color: $color-text-dark;
    font-size: 0.8rem;
    &:hover {
      color: white;
      border-width: 0px 30px 0px 0px;
      border-color: $color-text-dark;
    }
  }
}

.page-link {
  border-color: $color-primary;
  &:hover {
    border-color: $color-primary;
  }
}
