.footer {
  margin-top: auto;
  background-color: $color-secondary-bg;
  &__cont {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &__row {
    width: 100%;
  }
  &__icon {
    display: inline;
    opacity: 0.5;
    height: 30px;
    margin-right: 10px;
  }
}
